// Colors

$blue: #2E3C59;
$navy: #1B2430;
$white: #EFF1F2;
$grey: #BDCCC8;
$green: #687A64;
$green-hover: #475844;
$turquoise: #17A8D1;
$black: #1b1b20;

// Fonts

$sans-serif: 'Nunito',
sans-serif;
$sans-serif-two: 'Raleway',
sans-serif;
$sans-bold: 'Montserrat',
sans-serif;
$mono: 'Fira Code',
monospace;

// Other

$main-width: 1300px;